 <!------------------------- Step-4 ----------------------------->
 <div class="multisteps_form_panel" data-animation="slideVert">
    <div class="form_content">
       <div class="row">
          <div class="col-lg-4">
             <div class="form_title ps-5">
                <h1 class="text-white">Virtual Team Building Game For Remote Teams?</h1>
             </div>
          </div>
          <div class="col-lg-4 text-center">
             <div class="form_img">
                <img src="./assets/images/bg_4.png" alt="image_not_found">
             </div>
          </div>
          <div class="col-lg-4 text-end">
             <div class="form_items radio-list">
                <ul class="text-uppercase list-unstyled">
                   <li>
                      <label for="opt_13" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                         <span class="label-pointer rounded-circle text-center">A</span><input type="radio" id="opt_13" name="stp_4_select_option" value="Zoom">
                         <span class="label-content d-inline-block text-center rounded-pill">Zoom</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_14" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                         <span class="label-pointer rounded-circle text-center">B</span><input type="radio" id="opt_14" name="stp_4_select_option" value="Skype">
                         <span class="label-content d-inline-block text-center rounded-pill">Skype</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_15" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                         <span class="label-pointer rounded-circle text-center">C</span><input type="radio" id="opt_15" name="stp_4_select_option" value="Google">
                         <span class="label-content d-inline-block text-center rounded-pill">Google</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_16" class="step_4 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                         <span class="label-pointer rounded-circle text-center">D</span><input type="radio" id="opt_16" name="stp_4_select_option" value="Facebook">
                         <span class="label-content d-inline-block text-center rounded-pill">Facebook</span>
                      </label>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!---------- Form Button ---------->
    <div class="form_btn py-5 d-flex justify-content-center align-items-center">
       <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span> Last Question</button>
       <button type="submit" class="f_btn rounded-pill active text-uppercase" id="nextBtn"> Submit</button>
    </div>
 </div>